body{
    background-image:url(../images/registrationImg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.contentBox{
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin: 30px auto;
    width: 35%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
}

.contentBox .formBox{
    width: 60%;
}
.contentBox .formBox h2{
    color: #69140e;
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #f7b41b;
    display: inline-block;
    letter-spacing: 1px;
}
.contentBox .formBox .inputBox{
    margin-bottom: 20px;
}
.contentBox .formBox .inputBox label{
    margin-bottom: 5px;
    display: inline-block;
    color: #3c1518;
    font-weight: 300;
    letter-spacing: 1px;
}
.contentBox .formBox .inputBox input{
    width: 100%;
    padding: 10px 20px;
    /*outline: none;*/
    font-weight: 400;
    border: 1px solid #f7b41b;
    letter-spacing: 1px;
    color: #3c1518;
    background: transparent;
    border-radius: 30px;
}

.contentBox .formBox .inputBox input[type="submit"]{
    background: #69140e;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500px;
    cursor: pointer;
}
.contentBox .formBox .inputBox input[type="submit"]:hover{
    background: #3c1518;
}
.contentBox .formBox .inputBox p a{
    color: #f7b41b;
}
.contentBox .formBox .name{
    display: flex;
    justify-content: space-between;
}
header nav{
    background-color: #69140e;
}
nav ul li a.active, nav ul li a:hover{
    background: #f7b41b !important;
}
footer{
background-color: #69140e !important;
}
@media(max-width: 768px){
    .contentBox{
        width: 80%;
        padding: 10px 0;
    }
    .contentBox .formBox{
        width: 100%;
        background: rgb(255 255 255 / 0.9);
        margin: 50px;
    }
    .contentBox .formBox .inputBox p{
        text-align: center;
    }
}
@media(max-width: 480px){
    
}